<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="navbar" id="navbar">
            <div class="logo">
                ManishKart
            </div>
            <div class="main-nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Menu</a></li>
                    <li class="cart"><a href="#">Order</a><span>0</span></li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="items">
        <div class="item">
            <div class="price">
                <span>Price</span>
                <span>300 /rs</span>
            </div>
            <div class="image">
                <img src="img1.jpg" alt="">
            </div>
            <div class="add">
                <button>Add</button>
            </div>
        </div>
        <div class="item">
            <div class="price">
                <span>Price</span>
                <span>300 /rs</span>
            </div>
            <div class="image">
                <img src="img1.jpg" alt="">
            </div>
            <div class="add">
                <button>Add</button>
            </div>
        </div>
    </section>
    <div class="cost">
        <h2>Total cost is <span>0</span></h2>
    </div>
    

    <div class="product-container">
        <div class="product-header">
            <h5 class="title">Title</h5>
            <h5 class="price">Price</h5>
            <h5 class="quantity">Quantity</h5>
            <h5 class="total">Total</h5>
        </div>
        <div class="products">

        </div>
    </div>
    
</body>
<script src="script.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>